$bg-p : #71787f;
$suppr : #cc3737;
$whi : #f8f9f9;



body{
    margin: 0px;
    background-color: $bg-p;
}






#liste{
    padding-top: 40px;
    padding-left: 50px;

    .white{
        background-color: $whi;
    }

    .liste-conf{
        height: 455px;
        border-radius: 10px;

        button{
            font-size: 30px;
            font-family: arial;
            padding: 0;
            border: 0;
            background-color: $whi;
            margin: 10 auto 10 auto;
        }
    }
}