* {
    transition: 0.3s;
}

body {
    padding: 0;
    margin: 0;
    background: #a7c1d4;
}

textarea {
    resize: none;
    padding-top: 10px;
    padding-bottom: 10px;
}

.progress {
    padding: 0;
    width: 500px;
}

.box {
    font-family: Helvetica;
    padding: 30px 0px;
    width: 100%;
    height: 100%;
    color: white;
    -webkit-animation: fade 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
    animation: fade 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.box h1 {
    margin-top: 50px;
    text-align: center;
    font-size: 30px;
}

.box h3 {
    padding-top: 5px;
    color: red;
    opacity: 0.7;
    text-align: center;
    font-size: 15px;
}

.box input {
    display: block;
    width: 300px;
    margin: 20px auto;
    padding: 15px;
    background: rgba(0, 0, 0, 0.2);
    color: #fff;
    border: 0;
    border: solid 1px white;
}

.box input::-webkit-input-placeholder {
    color: #fff;
}

.box input:-ms-input-placeholder {
    color: #fff;
}

.box input::-ms-input-placeholder {
    color: #fff;
}

.box input::placeholder {
    color: #fff;
}

.box input:focus,
.box input:active,
.box button:focus,
.box button:active {
    outline: none;
}

.box button {
    background: #378dcc;
    border: 0;
    color: #fff;
    padding: 10px;
    font-size: 20px;
    width: 330px;
    margin: 20px auto;
    display: block;
    cursor: pointer;
}

.box button:hover {
    background: #2e6085;
}

#box-register {
    display: none;
}

#liste {
    display: none;
}

.liste {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.liste-blanche {
    margin: 50px;
    background-color: white;
    width: 350px;
    height: 500px;
    margin-top: 200px;
}

.liste-remove {
    background-color: rgb(248, 73, 73);
    text-align: center;
    height: 50px;
    font-size: 30px;
    color: white;
    user-select: none;
    cursor: pointer;
}

.liste-remove:hover {
    background-color: rgb(209, 57, 57);
}

.liste-article {
    width: 100%;
    height: 90px;
    height: 100%;
    width: 100%;
    overflow-y: auto;
    overflow-x: hidden;
}

.liste-blanche a {
    font-size: 30px;
    text-decoration: none;
}

.liste-blanche a div {
    background-color: #378dcc;
    padding: 8px;
    text-align: center;
    color: white;
    font-weight: bold;
    user-select: none;
    cursor: pointer;
}

.liste-blanche a div:hover {
    background-color: #2e6085;
}

.liste-texte {
    color: white;
    background-color: #378dcc;
    text-align: center;
    min-height: 50px;
    border: solid 5px white;
}

.liste-input {
    color: white;
    background-color: #2e6085;
    text-align: center;
    text-decoration: none;
    width: 100%;
    border: none;
    margin-top: 5px;
    margin-bottom: 5px;
}

.liste-input-remove {
    width: 20px;
    height: 30px;
    background-color: rgb(248, 73, 73);
    text-align: center;
    margin: 0 auto;
    width: 100px;
    cursor: pointer;
    user-select: none;
    margin-bottom: 5px;
}

.add-liste {
    margin: 50px;
    background-color: white;
    width: 350px;
    height: 600px;
    background-color: #2e6085;
    margin-top: 200px;
}

.add-liste a {
    font-size: 30px;
    text-decoration: none;
}

.add-liste a div {
    background-color: #378dcc;
    margin-top: 260px;
    padding: 30px;
    text-align: center;
    color: white;
    font-weight: bold;
    user-select: none;
    cursor: pointer;
}

.fa-trash {
    color: white;
    font-size: 13px;
}

.liste-article-title {
    margin: 0 auto;
    text-align: center;
    display: block;
    margin-top: 10px;
    text-decoration: none;
    color: white;
    background-color: #378dcc;
    border: 1px solid #2e6085;
}

@-webkit-keyframes fade {
    0% {
        -webkit-transform: translateZ(-1400px);
        transform: translateZ(-1400px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
        opacity: 1;
    }
}

@keyframes fade {
    0% {
        -webkit-transform: translateZ(-1400px);
        transform: translateZ(-1400px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
        opacity: 1;
    }
}